body {
    background: #f4f9f9;
  }

  h1 {
      color: #28527a;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      
  }

  h6 {
    color: #aaaaaa;
    text-align: center;
  }

  #first {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
  }

  .main-container {    
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .main-image {
    width: 100%;
  }

  .text { 
    position: absolute;
    bottom: 10px;
    color: #FFFFFF;
    font-size: 14px;  
    left: 40px;
  }

  #main-image-container {
      width: 100%;
  }

  #about-me {
      padding-top: 10%;
  }
  
  hr {
      border-top: 5px dotted;
      color: #aaaaaa;
      width: 25%;
      opacity: 0.3;
      font-family:'Montserrat', sans-serif;
  }

  h2 {
    color: #28527a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  h3 {
    color: #28527a;
    font-family: 'Montserrat', sans-serif;
  }

  .myFace {
        border-radius: 50%;
        width: 15%;
        float: right;
        padding-right: 15px;
  }

  #Work-header {
      padding-top: 10%;
      text-align: center;
  }

  #navbar {
    background-color: #ccf2f4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5%;
    opacity: 75%;
    z-index: 1;
  }

  #G-Fish {
    border-radius: 25%;
  }
.nav-text {
  font-family: 'Montserrat', sans-serif;
  
}
  

  

  